<h1>Editing <%= @user.username %></h1>
<div class="col-xs-4">
  <%= form_for :user, method: :patch, url: user_path do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this post from being saved:</h2>
      <div class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <p>
      <%= f.label :old_password %><br>
      <%= f.password_field :old_password, class: "form-control" %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password, class: "form-control" %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </p>

    <p>
      <%= f.submit class: "btn btn-primary"  %>
    </p>
    <% end %>

    <%= link_to 'Back', users_path %>
    </div>