<h1>Listing users</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Admin</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.name %></td>
      <td><%= user.admin %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <% if user.id == session[:id]%>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
    </tr>
  <% end %>
</table>