 <div class="container">
  <%= form_for :user, html: { class: "form-signin" }, url: login_path do |user| %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <% if @error %>
  <div class="alert alert-warning">
    <%= @error %>
  </div>
  <% end %>
  <%=  user.text_field :username, class: "form-control", placeholder: "Login", required: "" %>
  <%=  user.password_field :password, class: "form-control", placeholder: "Password", required: "" %>
  <p>    
    <%= user.submit 'Sign in', :class=> 'btn btn-lg btn-primary btn-block' %>
  </p>
  <% end %> 
</div>