 
<%= form_for @chemical do |f| %>
  <% if @chemical.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@chemical.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <div class="alert alert-danger">
    <ul>
    <% @chemical.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </p>
  
  <p>
    <%= f.label :unit %><br>
    <%= f.text_field :unit, class: "form-control", placeholder: "Unit" %>
  </p>
  
  <p>
    <%= f.label :critical_amount %><br>
    <%= f.text_field :critical_amount, class: "form-control", placeholder: "Critical amount" %>
  </p>
  
  <p><%= label_tag(:group_name) %></p>
  <% if @chemical.group %>
    <p><%= text_field_tag(:group_name, '', class: 'groups-auto-complete', placeholder: 'Group', value: @chemical.group.name) %></p>
  <% else %>
    <p><%= text_field_tag(:group_name, '', class: 'groups-auto-complete', placeholder: 'Group') %></p>
  <% end %>
 
  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note, class: "form-control", placeholder: "Note" %>
  </p>
  
  <p>
    <%= f.submit :class => "btn btn-primary" %>
  </p>
 
   
<% end %>
