<h1><%= @chemical.name %></h1>
<p>Total amount: <%= @chemical.total_amount %></p>
<p>Unit: <%= @chemical.unit %></p>
<p>Group: <%= @chemical.group %></p>
<p>Note: <%= @chemical.note %></p>
<br />
<h1>Containers</h1>
<table class="table table-striped">
  <tr>
    <th>Amount</th>
    <th>Expiration date</th>
    <th>Location</th>
    <th>Catalog number</th>
  </tr>
<% @chemical.containers.each do |container| %>
  <% if container.real %>
    <tr>
      <td> <%= container.amount.to_s + ' ' + container.chemical.unit %> </td>
      <td> <%= container.expiration_date.to_date.to_formatted_s(:long) %> </td>
      <td> <%= container.location %> </td>
      <td> <%= container.catalog_number %> </td>
    </tr>
  <% end %>
<% end %>
</table>

<%= link_to 'Edit', edit_chemical_path %>
<%= link_to 'Back', chemicals_path %>