<%= nested_form_for @operation, url: operations_path do |operation| %>
<% if @operation.errors.any? %>
<div id="error_explanation">
 <div class="alert alert-danger">
  <% @operation.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</div>
</div>
<% end %>
<% if (@operation.kind == 2) %>
<%= operation.hidden_field(:kind, :value => '2') %>
<% else %>
<%= operation.hidden_field(:kind, :value => '1') %>
<% end %>


<% if @operation.protocol %>
  <% val = @operation.name %>
<% else %>
  <% val = '' %>
<% end %>
<p><%= operation.label :project_name %></p>
<p><%= operation.text_field(:project_name, value: val, class: 'project-auto-complete', placeholder: 'Projects') %></p>

<p><%= operation.label :note %></p>
<p><%= operation.text_area :note, class: "form-control"%></p>

<p><%= check_box_tag(:is_protocol, '', false) %> <%= label_tag(:is_protocol, "Save as protocol") %></p>
<div id="operation_protocol_name" style="display: none;">
<p><%= operation.label(:name) %></p>
<p><%= operation.text_field :name, class: "form-control", placeholder: "Protocol name" %></p>
</div>

<% if (@operation.kind == 2) %>
<% counter = 0 %>

<%= operation.fields_for :containers, wrapper: :div do |container| %>
<div class="well">
  <% if @operation.containers[counter] && @operation.containers[counter].chemical %>
    <% @val = @operation.containers[counter].chemical.name %>
  <% else %>
    <% @val = ''%>
  <% end %>
  <p><%= container.label :chemical_name %></p>
  <p><%= container.text_field(:chemical_name, value: @val, class: 'chemicals-auto-complete', placeholder: 'Chemicals') %>
  <% counter += 1 %>
  <%= container.link_to_remove "Remove", class: "btn btn-danger" %></p>

  <div class="row">
    <div class="col-md-6">   
      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount, class: "form-control", placeholder: "Amount"  %></p>
    </div>
  </div>
</div>
<% end %>
<p><%= operation.link_to_add "Add another chemical", :containers, class: "btn btn-success" %></p>
<p><div class="btn-group">
<%= operation.submit "Vykonať zmeny", :name => 'execute', :class => "btn btn-primary" %>
<%= operation.submit "Vykonať zmeny a uložiť ako protokol", :name => 'save', :class => "btn btn-primary" %>
</div></p></p>



<% else %>
  <% counter = 0 %>
<%= operation.fields_for :containers, wrapper: :div do |container| %>
  <% if @operation.containers[counter] && @operation.containers[counter].chemical %>
    <% @val = @operation.containers[counter].chemical.name %>
  <% else %>
    <% @val = ''%>
  <% end %>
<div class="well">
  <p><%= container.label :chemical_name %></p>
  <p><%= container.text_field(:chemical_name, value: @val, class: 'chemicals-auto-complete', placeholder: 'Chemicals') %>
  <% counter += 1 %>
  <%= container.link_to_remove "Remove", class: "btn btn-danger" %>
  <a class="chemical-new btn btn-primary">Create chemical</a></p>
  <div class="row">
    <div class="chemical-form" style="display: none">
      <%= container.fields_for :chemical, wrapper: :div do |chemical|%>
      
      <div class="col-md-6">

      <p><%= chemical.label :unit %></p>
      <p><%= chemical.text_field :unit, class: "form-control", placeholder: "Unit"  %></p>

      <p><%= chemical.label :critical_amount %></p>
      <p><%= chemical.text_field :critical_amount,  class: "form-control", placeholder: "Critical amount"  %></p>
      
      </div>
      <div class="col-md-6">
      
      <p><%= chemical.label :group %></p>
      <p><%= chemical.text_field :group,  class: "groups-auto-complete", placeholder: "Group"  %></p>
      
      <p><%= chemical.label :note %></p>
      <p><%= chemical.text_area:note,  class: "form-control", placeholder: "Note"  %></p>
      
      </div>
      
      <% end %>
    </div>
    
    <div class="col-md-6">

      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount, class: "form-control amount-validation", placeholder: "Amount"  %></p>

      <p><%= container.label :expiration_date %></p>
      <p><%= container.date_field :expiration_date,  class: "form-control" %></p>
    </div>
    <div class="col-md-6">

      <p><%= container.label :location %></p>
      <p><%= container.text_field :location, class: "form-control", placeholder: "Location"  %></p>

      <p><%= container.label :catalog_number %></p>
      <p><%= container.text_field :catalog_number, class: "form-control", placeholder: "Catalog number"  %></p>
    </div>
  </div>
</div>

<% end %>
<p><%= operation.link_to_add "Add another chemical", :containers, class: "btn btn-primary" %></p>

  

<p><div class="btn-group">
<%= operation.submit "Vykonať zmeny", :name => 'execute', :class => "btn btn-success" %>
</div></p>

<% end %>



<% end %>