<%= nested_form_for @operation, url: operations_path do |operation| %>
<% if @operation.errors.any? %>
<div id="error_explanation">
 <div class="alert alert-danger">
  <% @operation.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

</div>
</div>
<% end %>
<% if session[:message] %>
  <div id="error_explanation">
  <div class="alert alert-danger">
  <li><%= session[:message] %></li>
  </div>
</div>
<% end %>
<% if (@operation.kind == 2) %>
<%= operation.hidden_field(:kind, :value => '2') %>
<% elsif (@operation.kind == 3) %>
<%= operation.hidden_field(:kind, :value => '3') %>
<% else %>
<%= operation.hidden_field(:kind, :value => '1') %>
<% end %>

<% if @operation.project %>
  <% val = @operation.project.name %>
<% else %>
  <% val = '' %>
<% end %>

<p><%= operation.label :project_name, 'Project Name' %></p>
<p><%= operation.text_field(:project_name, value: val, class: 'project-auto-complete project-validation', placeholder: 'Projects') %></p>

<p><%= operation.label :note %></p>
<p><%= operation.text_area :note, class: "form-control"%></p>

<% if @operation.protocol %>
  <% val = @operation.name %>
<% else %>
  <% val = '' %>
<% end %>
<p><%= check_box_tag(:is_protocol, '', false) %> <%= label_tag(:is_protocol, "Save as Protocol") %></p>
<div id="operation_protocol_name" style="display: none;">
<p><%= operation.label(:name) %></p>
<p><%= operation.text_field :name, value: val, class: "form-control", placeholder: "Protocol Name" %></p>
</div>

<% if (@operation.kind == 2) or (@operation.kind == 3) %>
<% counter = 0 %>

<%= operation.fields_for :containers, wrapper: :div do |container| %>
<div class="well">
  <% if @operation.containers[counter] && @operation.containers[counter].chemical %>
    <% @val = @operation.containers[counter].chemical.name %>
  <% else %>
    <% @val = ''%>
  <% end %>
  <p><%= container.label :chemical_name, 'Chemical Name' %></p>
  <p><%= container.text_field(:chemical_name, value: @val, class: 'chemicals-auto-complete', placeholder: 'Chemicals') %>
  <% counter += 1 %>
  <%= container.link_to_remove "Remove", class: "btn btn-danger" %></p>

  <div class="row">
    <div class="col-md-6">   
      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount, class: "form-control amount-validation", placeholder: "Amount"  %></p>
    </div>
  </div>
</div>
<% end %>
<p><%= operation.link_to_add "Add Another Chemical", :containers, class: "btn btn-primary" %></p>

<%= operation.fields_for :participants, wrapper: :div do |participant| %>
<p><%= participant.label :name %></p>
  <p><%= participant.text_field(:name, class: 'users-auto-complete', placeholder: 'Participant') %>
<%= participant.link_to_remove "Remove", class: "btn btn-danger" %>
  </p>
<% end %>
<p><%= operation.link_to_add "Add Another Participants", :participants, class: "btn btn-primary" %></p>

<p>
<%= operation.submit "Submit Changes", :name => 'execute', :class => "btn btn-sucess", :id => "submit" %>
</p>



<% else %>
  <p><a class="chemical-new btn btn-primary">Create Chemical</a></p>
  <% counter = 0 %>
<%= operation.fields_for :containers, wrapper: :div do |container| %>
  <% if @operation.containers[counter] && @operation.containers[counter].chemical %>
    <% @val = @operation.containers[counter].chemical.name %>
  <% else %>
    <% @val = ''%>
  <% end %>
<div class="well">
  <p><%= container.label :chemical_name, 'Chemical Name' %></p>
  <p><%= container.text_field(:chemical_name, value: @val, class: 'chemicals-auto-complete chemical-name-validation', placeholder: 'Chemicals') %>
  <% counter += 1 %>
  <%= container.link_to_remove "Remove", class: "btn btn-danger remove-container" %>
  <!--<a class="chemical-new btn btn-primary">Create Chemical</a>--></p>
  <div class="row">
    <div class="chemical-form" style="display: none">
      <%= container.fields_for :chemical, wrapper: :div do |chemical|%>
      
      <div class="col-md-6 visibility-validation">

      <p><%= chemical.label :unit %></p>
      <p><%= chemical.text_field :unit, class: "form-control unit-validation", placeholder: "Unit"  %></p>

      <p><%= chemical.label :critical_amount , 'Critical Amount'%></p>
      <p><%= chemical.text_field :critical_amount,  class: "form-control critical-amount-validation", placeholder: "Critical amount"  %></p>
      
      </div>
      <div class="col-md-6 visibility-validation">
      
      <p><%= chemical.label :group %></p>
      <p><%= chemical.text_field :group,  class: "groups-auto-complete group-validation", placeholder: "Group"  %></p>
      
      <p><%= chemical.label :note %></p>
      <p><%= chemical.text_area :note,  class: "form-control", placeholder: "Note"  %></p>
      
      </div>
      
      <% end %>
    </div>
    
    <div class="col-md-6">

      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount, class: "form-control amount-validation", placeholder: "Amount"  %></p>

      <p><%= container.label :expiration_date , 'Expiration Date'%></p>
      <p><%= container.date_field :expiration_date,  class: "form-control date-validation" %></p>
      <p>
       <%= container.check_box :expirable, class: "expirable" %>
       <%= container.label :expirable %>
      </p>
      
    </div>
    <div class="col-md-6">

      <p><%= container.label :location %></p>
      <p><%= container.text_field :location, class: "form-control location-validation", placeholder: "Location" %></p>

      <p><%= container.label :catalog_number , 'Catalog Number'%></p>
      <p><%= container.text_field :catalog_number, class: "form-control catalog-num-validation", placeholder: "Catalog number" %></p>
    </div>
  </div>
</div>

<% end %>
<p><%= operation.link_to_add "Add Another Chemical", :containers, class: "btn btn-primary", id: "add-another-chemical" %></p>

<%= operation.fields_for :participants, wrapper: :div do |participant| %>
<p><%= participant.label :name %></p>
  <p><%= participant.text_field(:name, class: 'users-auto-complete', placeholder: 'Participant') %>
<%= participant.link_to_remove "Remove", class: "btn btn-danger" %>
  </p>
<% end %>
<p><%= operation.link_to_add "Add Another Participants", :participants, class: "btn btn-primary" %></p>

<p>
<%= operation.submit "Submit Changes", :name => 'execute', :class => "btn btn-success", :id => "submit" %>
</p>

<% end %>

<div id="dialog" title="Basic dialog" style="display: none;">
 <%= form_for @chemical do |f| %>
  <% if @chemical.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@chemical.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <div class="alert alert-danger">
    <ul>
    <% @chemical.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </p>
  
  <p>
    <%= f.label :unit %><br>
    <%= f.text_field :unit, class: "form-control", placeholder: "Unit" %>
  </p>
  
  <p>
    <%= f.label :critical_amount %><br>
    <%= f.text_field :critical_amount, class: "form-control", placeholder: "Critical amount" %>
  </p>
  
  <p><%= label_tag(:group_name) %></p>
  <% if @chemical.group %>
    <p><%= text_field_tag(:group_name, '', class: 'groups-auto-complete', placeholder: 'Group', value: @chemical.group.name) %></p>
  <% else %>
    <p><%= text_field_tag(:group_name, '', class: 'groups-auto-complete', placeholder: 'Group') %></p>
  <% end %>
 
  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note, class: "form-control", placeholder: "Note" %>
  </p>
   
<% end %>
</div>

<% end %>