<%= form_for @operation, url: operations_path do |operation| %>
  <p><%= operation.label :kind %></p>
  <p><%= operation.select :kind, options_for_select(Operation::KINDS) %></p>
  
  <p><%= operation.label :project_name %></p>
  <p><%= operation.collection_select(:project_id, Project.all, :id, :name) %></p>
  
  <p><%= operation.label :note %></p>
  <p><%= operation.text_area :note %></p>
  
  
  <% if (@operation.containers.length != 0) %>
    <%= fields_for @operation.containers[0] do |container| %>
      <p><%= container.label :chemical_id %></p>
      <p><%= container.collection_select(:chemical_id, Chemical.all, :id, :name) %></p>
    
      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount %></p>
      
      <p><%= container.label :expiration_date %></p>
      <p><%= container.date_field :expiration_date %></p>
      
      <p><%= container.label :location %></p>
      <p><%= container.text_field :location %></p>
      
      <p><%= container.label :catalog_number %></p>
      <p><%= container.text_field :catalog_number %></p>
    <% end %>
    <p><%= operation.submit "Vykonať zmeny", :name => "execute"%></p>
  <% else %>
    <%= fields_for :container do |container| %>
      <p><%= container.label :chemical_id %></p>
      <p><%= container.collection_select(:chemical_id, Chemical.all, :id, :name) %></p>
    
      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount %></p>
      
      <p><%= container.label :expiration_date %></p>
      <p><%= container.date_field :expiration_date %></p>
      
      <p><%= container.label :location %></p>
      <p><%= container.text_field :location %></p>
      
      <p><%= container.label :catalog_number %></p>
      <p><%= container.text_field :catalog_number %></p>
    <% end %>
    <p><%= operation.submit "Vykonať zmeny", :name => "execute"%></p>
    <p><%= operation.submit "Vykonať zmeny a uložiť ako protokol", :name => "save"%></p>
  <% end %>
  
  
<% end %>