<%= form_for @operation, url: operations_path do |operation| %>
  <% if (@operation.kind == 2) %>
    <%= operation.hidden_field(:kind, :value => '2') %>
  <% else %>
    <%= operation.hidden_field(:kind, :value => '1') %>
  <% end %>
  
  <p><%= operation.label :project_name %></p>
  <p><%= operation.collection_select(:project_id, Project.all, :id, :name) %></p>
  
  <p><%= operation.label :note %></p>
  <p><%= operation.text_area :note %></p>
  
  
  <% if (@operation.containers.length < 0) %>
    <%= fields_for :containers do |container| %>
      <p><%= container.label :chemical_id %></p>
      <p><%= container.collection_select(:chemical_id, Chemical.all, :id, :name) %></p>
    
      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount %></p>
      <% if (@operation.kind == 1) %>
        <p><%= container.label :expiration_date %></p>
        <p><%= container.date_field :expiration_date %></p>
        
        <p><%= container.label :location %></p>
        <p><%= container.text_field :location %></p>
        
        <p><%= container.label :catalog_number %></p>
        <p><%= container.text_field :catalog_number %></p>
      <% end %>
    <% end %>
    <p><%= operation.submit "Vykonať zmeny", :name => "execute"%></p>
  <% else %>
    <%= operation.nested_fields_for :containers, wrapper_tag: :div do |container| %>
    
      <p><%= container.remove_nested_fields_link "Remove this container" %></p>
      <p><%= container.label :chemical_id %></p>
      <p><%= container.collection_select(:chemical_id, Chemical.all, :id, :name) %></p>
    
      <p><%= container.label :amount %></p>
      <p><%= container.text_field :amount %></p>
      
      <p><%= container.label :expiration_date %></p>
      <p><%= container.date_field :expiration_date %></p>
      
      <p><%= container.label :location %></p>
      <p><%= container.text_field :location %></p>
      
      <p><%= container.label :catalog_number %></p>
      <p><%= container.text_field :catalog_number %></p>
    <% end %>
    <p><%= operation.add_nested_fields_link :containers, "Add another container" %></p>
    <p><%= operation.submit "Vykonať zmeny", :name => 'execute' %></p>
    <p><%= operation.submit "Vykonať zmeny a uložiť ako protokol", :name => 'save' %></p>
  <% end %>
  
  
<% end %>