<h1>Protocols</h1>
<table class="table table-striped">
  <tr>
    <td>User</td>
    <td>Kind</td>
    <td>Date</td>
    <td>Note</td>
    <td>Protocol</td>
    <td>Chemical</td>
    <td>Amount</td>
    <td>Expiration date</td>
    <td>Catalog number</td>
    <% if @protocols_only %>
      <td></td>
    <% end %>
  </tr>
  <% @operations.each do |operation| %>
  <tr>
    <td><%= operation.user.username %></td>
    <td><%= operation.kind %></td>
    <td><%= operation.created_at %></td>
    <td><%= operation.note %></td>
    <% if operation.protocol %>
      <td>true</td>
    <% else %>
      <td>false</td>
    <% end %>
    <% operation.containers.each do |container| %>
      <td><%= container.chemical.name %></td>
      <td><%= container.amount %></td>
      <td><%= container.expiration_date %></td>
      <td><%= container.catalog_number %></td>
    <% end %>
    <% if @protocols_only %>
      <td><%= link_to 'Show', edit_operation_path(operation) %></td>
    <% end %>
  </tr>
  <% end %>
</table>