<% if @protocols_only %>
<h1>Protocols</h1>
<% else %>
<h1>Operations</h1>
<% end %>
<%= form_tag(operations_path, method: "get", remote: true, id: "operations_filter") do%>
<%= label_tag("user", "User") %>
<%= text_field_tag("user" , "") %>
<%= label_tag("project", "Project") %>
<%= text_field_tag("project" , "") %>
<%= submit_tag("Search") %>
<% end %>
<div id="operations">
  <%= render 'operations' %>
</div>
