<h1>Operations</h1>
<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Kind</th>
    <th>Date</th>
    <th>Note</th>
    <th>Protocol</th>
    <th>Project</th>
    <th>Chemical</th>
    <th>Amount</th>
    <th>Expiration date</th>
    <th>Catalog number</th>
  </tr>
  <% @operations.each do |operation| %>
  <tr>
    <td><%= operation.user.username %></td>
    <td><%= operation.kind %></td>
    <td><%= operation.created_at %></td>
    <td><%= operation.note %></td>
    <% if operation.protocol %>
      <td>true</td>
    <% else %>
      <td>false</td>
    <% end %>
    <td><%= operation.project.name %></td>
    <% operation.containers.each do |container| %>
      <td><%= container.chemical.name %></td>
      <td><%= container.amount %></td>
      <td><%= container.expiration_date %></td>
      <td><%= container.catalog_number %></td>
    <% end %>
  </tr>
  <% end %>
</table>
