<h1>Settings</h1>
<%= form_for @setting, url: settings_path do |s| %>
  <% if session[:message] %>
    <% if session[:type] %>
      <div class="alert alert-danger">
        <%= session[:message] %>
      </div>
    <% else %>
      <div class="alert alert-success">
        <%= session[:message] %>
      </div>
    <% end %>
  <% end %>
  
  <div class="btn-group">
    <%= s.submit "Save database", :name => 'save', class: "btn btn-primary"  %>
    <%= s.submit "Load database", :name => 'load', class: "btn btn-primary"  %>
    <%= s.submit "Force Check Expired", :name => 'check', class: "btn btn-primary"  %>
  </div>

  <p>
    <%= s.label :days_before_warn, 'Days Before Warn' %><br>
    <%= s.text_field :days_before_warn, class: "form-control", placeholder: "How many days before expiration is warning sent" %>
  </p>
  
  <p>
    <%= s.submit "Save Settings", :name => "settings", class: "btn btn-primary"  %>
  </p>
<% end %>
