<% if !@restore_data.errors.empty? %>
  <div class="alert alert-danger">
    <ul>
      <% @restore_data.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @restore_data, html: { multipart: true }, url: settings_restore_path do |f| %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <%= f.submit "Restore", class: "btn btn-success", style: "margin-top: 10px;", id:"upload" %>
  <% end %>
</div>